<div id="<%= dom_id clip %>">
<div class="allclips">
<div class="sub">


  <p>
    <%= clip.title %>
  </p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/<%=clip.link%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
</div>


  <p>
    <strong>Artist:</strong>
    <%= clip.artists.map(&:name).to_sentence %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= clip.description %>
  </p>

  <p>
    <strong>Sortie:</strong>
    <%= clip.sortie %>
  </p>

</div>
