  <header>
    <div class="search-bar">
  <form action="/home/search" method="post">
<div>
    <img src="google-logo.png" alt="Google Logo" class="logo">
</div>
<div>
    <input type="checkbox" name="web" id="ontheweb" checked value="1" />
</div>
    <div class="search-bar">
      <input type="text" value="<%=params[:composer]%>" name="composer" placeholder="Search composer/ARTIST">
 <input type="text" name="q" value="<%=params[:q]%>" placeholder="Search song or score Title">
<label for="searchscores">
chercher scores
      <input type="radio" name="mysearch" value="scores" id="searchscores" <%=params[mysearch] == "scores" ? "checked=\"checked\"" : ""%> />
</label>
<label for="searchpic">
chercher 1 image
      <input type="radio" name="mysearch" value="pic" id="searchpic" <%=params[mysearch] == "pic" ? "checked=\"checked\"" : ""%> />
</label>

<label for="searchvideo">
chercher 1 video
      <input type="radio" name="mysearch" value="video" id="searchvideo" <%=params[mysearch] == "video" ? "checked=\"checked\"" : ""%> />
</label>
      <input type="submit" name="ok3" value="search" />
    </div>
  </form>

    </div>
  </header>
  <main>
<%=@results.html_safe%>
  </main>

